@import "./mixins";
@import "./variables";

.excel__header{
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   height: $header-height;
   padding: 8px 4px 0px;
   display: flex;
   justify-content: space-between;
}

.excel__header__input {
   margin: 0;
   padding: 2px 7px;
   color: #000000;
   border: 1px solid transparent;
   border-radius: 2px;
   height: 20px;
   outline: none;
   line-height: 22px;
   font-style: 18px;
   &:hover {
      border: 1px solid $border-color;
   }
   &:focus {
      border: 2px solid #1a73e8;
   }
   
}

.excel__button {
   @include button(red)
}